# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with defaults from defaults.sls ##}
{% import_yaml 'borg/defaults.yaml' as default_settings %}

{##
Setup variable using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
        'Debian': {},
  }
  , grain="os_family"
  , merge=salt['pillar.get']('borg:lookup'))
%}
{## Merge the os_family_map to the default settings ##}
{% do default_settings.borg.update(os_family_map) %}

{## Merge in borg pillar ##}
{% set borg = salt['pillar.get'](
        'borg',
        default=default_settings.borg,
        merge=True
    )
%}
